.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #000;
  font-weight: bolder;
}
.container {
  display: flex;
  flex-direction: column;
  width: 27%;
  margin-top: 50px;
  overflow: hidden;
  background: ghostwhite;
  padding: 50px;
}
.container h1{
  margin: 10px 0;
}
.formContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.radioContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 30px;
}

.radioContainer label {
  margin: 5px 0;
}

.inputText {
  width: 100%;
  margin: 5px 0;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  padding-left: 20px;
  box-sizing: border-box;
}

.buttonSubmit {
  width: 100%;
  margin: 20px 0;
  height: 60px;
  border-radius: 10px;
  font-size: 18px;
  background: var(--bright-red-700);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.buttonSubmit:hover {
  opacity: 0.7;
}

.textCaptcha {
  width: 30%;
  margin: 0;
  margin-top: 20px;
  color: #8f8f8f;
}
.link{
    color: inherit;
}
.errorText {
  color: var(--bright-red-400);
  font-size: 18px;
  margin: 5px 0;
}
@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 90%;
    padding: 20px;
    margin: 0;
  }
  .textCaptcha {
    font-size: 15px;
    width: 90%;
  }
}
