.registrationContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 18px;
}
.registrationContainer p {
  margin: 0;
}
.imgDevices {
  margin-bottom: 30px;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27%;
  margin: 100px 0;
}

.link {
  color: inherit;
  text-decoration: none;
  width: 90%;
}
.buttonNext {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 50px 0;
  height:70px;
  background: var(--bright-red-700);
  font-size: 20px;
  font-weight: bold;
}
.buttonNext:hover{
    opacity: 0.7 
}

@media (min-width: 320px) and (max-width: 480px) {
    .registration {
        width: 90%;
        margin: 50px 0
    }
    .imgDevices{
        width: 100%;
    }
    .buttonNext {
        margin: 35px 0
    }
}