.movieCard {
  list-style: none;
  cursor: pointer;
}

.movieImg {
  background: var(--bright-red-50);
  width: 200px;
  height: 320px;
  border-radius: 20px;
}

.movieCard:hover{
    transform: scale(1.06);
    border-radius: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .movieImg {
    width: 280px;
    height: auto;
  }
  .movieCard:hover{
    transform: none
  }
}