.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.containerInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  margin: 100px 0;
  overflow: hidden;
}
.containerInfo h1, p {
    margin: 10px 0;
}

.containerIcon {
  border: 3px solid #00aa00;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: #00aa00;
  border-radius: 100%;
}

.btnSkip{
    width: 80%;
    height: 70px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background: #d2d2d8;
}
.btnSkip:hover{
    opacity: 0.7;
}

@media (min-width: 320px) and (max-width: 480px) {
    .containerInfo {
        width: 100%;
        margin: 50px 0;
    }
}