.container {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container h3 {
  margin: 25px 0;
}
.emailContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.inputEmail {
  height: 50px;
  width: 45%;
  border-radius: 10px;
  background: ghostwhite;
  border: 2px solid var(--bright-red-700);
  font-size: 20px;
  margin-right: 15px;
}
.inputEmail::placeholder {
  padding-left: 10px;
  font-size: 1.5rem;
}
.buttonStart {
  height: 55px;
  width: 200px;
  background: var(--bright-red-700);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  color: #fff;
}

.buttonStart:hover {
  cursor: pointer;
  opacity: 0.8;
}

.textLanding {
  width: 70%;
  text-align: center;
  margin: 50px 0 35px 0;
}

.link{
  color: inherit;
  text-decoration: none;
  width: 25%;
}
.link:focus,
.link:active {
  outline: none;
}

/* Para pantallas muy pequeñas (móviles en modo retrato) */
@media (min-width: 320px) and (max-width: 480px) {
  .container{
    width: 100%;
  }
  .emailContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
   
  }
  .inputEmail {
    width: 80%;
    height: 50px;
    margin: 0;
    margin-bottom: 20px;
  }
  .buttonStart {
    margin: 0;
    height: 50px;
  }
  .link{
    width: 80%;
  }
  .container h3 {
    width: 90%;
    margin: 0 0 10px 0
  }
}

@media (min-width: 481px) and (max-width: 1000px) {
  .emailContainer {
    width: 90%;
  }
  .inputEmail {
    width: 40%;
    height: 40px;
    border-radius: 20px;
  }
  .buttonStart {
    width: 25%;
  }
}
